<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- This tag below changes quite frequently -->
    <meta
      http-equiv="Content-Security-Policy"
      content="base-uri http://localhost; upgrade-insecure-requests; child-src 'none'; object-src 'none'"
    />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
  </body>
</html>
